body {
  height: 100%;
}

#root {
  height: 100%;

  display: grid;
  grid-template-rows: "demo";
  grid-template-columns: "demo";
}

.demo {
  display: grid;

  grid-template-areas:
    "top"
    "bottom";

  width: 100%;
  height: 100vh;
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
  background-color: #eee;
}